<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="com/jp/login/po/userPo.xml"/>
		<mapper resource="com/jp/notice/po/noticePo.xml"/>
		<mapper resource="com/jp/link/po/linkPo.xml"/>
		<mapper resource="com/jp/mood/po/moodPo.xml"/>
		<mapper resource="com/jp/photo/po/albumPo.xml"/>
		<mapper resource="com/jp/photo/po/photoPo.xml"/>
	</mappers>
</configuration>